.body
{
    font-family: 'poppins';
   
}
.nav
{
    position: fixed;
    background-color: #303030;
    color: #fff;
    top:0;
    bottom:0;
    left:0;
    right:0;
    Z-index:100;
    transform : translatey(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}
.nav-open .nav{
    
    transform : translatex(0%)
}
.nav-open .nav-toggle {
    position: fixed;
}

.nav__list
{
list-style:none;
height:100%;
display:flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;
margin: auto;
padding: 0;
}
.nav__link {
    color: inherit;
    font-weight: 900px;
    font-size: 2.5rem;
    text-decoration: none;
    max-width: 60%;
}
.nav__link:hover {
    color:#7510F7;
    font-size: 2.7rem;
}
.nav-toggle {
    padding: .5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 1000;
}

.hamburger {
    display: block;
    position: fixed;
}



.hamburger,
.hamburger::before,
.hamburger::after {
    background:#7510F7;
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}
.hachu,
.hachu::before,
.hachu::after {
    background:#7510F7;
}
.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before { top: 6px; }
.hamburger::after { bottom: 6px; }


.contactheading
{
   
 font-size: 56PX;
 color: #7510F7;

 font-weight: 600;
    
}
.contactheading2
{
    font-size: 80PX;
    color: #7510F7;
    font-weight: 600;
    margin: 2% 0%;
}
.contactp
{
    font-size: 26px;
    font-weight: 500;
    color:#000000;
   margin-right:10%;
}

.fa
{
    text-align: center;
    font-size: 46px;
    text-decoration: none;
   
   
}

.fa:hover{
    border-radius: 50%;
    padding: 4%;
    color: #fff;
    background-color: #7510F7;
}
.classlinks
{
    display:flex;
    justify-content:space-between;
    flex-direction: column;
    
}
.con{
    padding: 2% 5%;
    font-family: 'poppins';
}
 
.nav{
    font-family: 'poppins';
}


.contactflex {
    display: flex;
    
    justify-content: center;
  }
  
  
  @media (max-width: 800px) {
    .contactflex {
      flex-direction: column;
    }
    .classlinks
    {
        padding: 6%;
        flex-direction: row;
    }
  }