body
{
    margin:0;
    font-family: 'Poppins';
}
.fff {
    color:#7510F7;
    font-size: 50px;
    font-weight: 800;
}
.about
{
    background-color: #7510F7;
    color:white;
    font-size: 50px;
    font-weight: 800;
    font-style: 'poppins';
}
.btnabout
{
    background-color: #7510F7;
    border-radius: 25px;
    border: 2px solid white;
    font-size: 30px;
    color: #fff;
    width:200px;
}
.btnabout:hover{
    background-color: #fff;  
    color: #7510F7; 
    border: 2px solid #7510F7;
}

header{
    display:flex;
    justify-content: space-between;
    padding: 0.5rem;
}
.logo
{
    max-width: 100px;
} 
.nav
{
    position: fixed;
    background-color: #303030;
    color: #fff;
    top:0;
    bottom:0;
    left:0;
    right:0;
    Z-index:100;
    transform : translatey(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}
.nav-open .nav{
    
    transform : translatex(0%)
}
.nav-open .nav-toggle {
    position: fixed;
}

.nav__list
{
list-style:none;
height:100%;
display:flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;
margin: auto;
padding: 0;
}
.nav__link {
    color: inherit;
    font-weight: 900px;
    font-size: 2.5rem;
    text-decoration: none;
    max-width: 60%;
}
.nav__link:hover {
    color:#7510F7;
    font-size: 2.7rem;
}
.nav-toggle {
    padding: .5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 1000;
}

.hamburger {
    display: block;
    position: fixed;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background:#7510F7;
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}
.hachu,
.hachu::before,
.hachu::after {
    background:#99D930;
}
.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before { top: 6px; }
.hamburger::after { bottom: 6px; }



.btn
{
 color: #252525;
    text-decoration: none;
    background: #99D930;
}


#color
{
    color:#7510F7;
    font-weight: 900;
    border: 2px solid #7510F7;
    padding: 10px 30px;
    margin: 20px;
    background-color: white;
}
#color:hover
{
    background-color: #7510F7;
    color:white;
}

.container
{
   background:#7510F7;
   padding-bottom:14rem;
   padding:5rem 1.5rem;
   text-align:center;
   color : white;
   height:100vh

}

.jumbotron
{
   background:#7510F7;
}
.just
{
    color: #7510F7;
    margin-top: 12%;
    margin-left: 10%;
   
}
.kk
{
        display: block;
        margin-left: 40%;
        margin-right: 50%;
        margin-top: 1%;
}
.project
{
    color:#7510F7;
    text-align: center;
    padding-bottom: 20px;
}


  .project-image {
    height: calc(100% - 6.1rem);
    width: 100%;
    object-fit: cover;
  }
.containet
{
    background-color: white;
    grid-gap: 20px 20px;
    margin: 50px;
    
}
.project-title
{
    background-color: #7510F7;
    text-align: center;
    font-size: 28px;
    border: 3px solid white;
    color:white;
    font-weight: 300;
    text-decoration: none;
    
    
}
.project-title:hover
{
    background-color: white;
    color:#7510F7;
    border: 3px solid #7510F7;
    
}
.koko
{
    margin: 100px 0px 0px 0px;
    background-color:#7510F7;
    bottom: 0;
}
.ba{
text-align:center;
padding-top: 40px;
color:white;
font-size: 30px;
font-weight: 500;
}
.fa
{
    color:white;
    font-size: 20px;
    font-weight: 500;
    padding:20px;
    margin-top: 90px;
}
.classlinks
{
    display:flex;
    justify-content: space-evenly;
}

.fa:hover {
    color:whitesmoke;
    transform: scale(1.5);
    
}
.fotter
{
  color:white;
  display:flex;
  justify-content: space-evenly;
  font-size: 20px;
  margin-top: 120px;
  border-top: 3px solid white;
}
.mar
{
  
   margin-top: 40px;
}
.bl
{
    color: white;
}
.bl:hover
{
    color: black;
    transform: scale(2.5);
}
.grid
{
    display: grid;
    grid-template-columns: repeat(auto-fit,20rem);
    justify-content: space-evenly;
}
.box{
    box-sizing: border-box;
    border: 3px solid transparent;
    background-clip:padding-box;
    height:420px;
    box-shadow: 10px 20px;
  }
  